<!DOCTYPE html>
<html class="full" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Skill</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
          rel="stylesheet"/>
    <link href="/css/the-big-picture.css" rel="stylesheet"/>


</head>

<body>
<div id="nav" th:include="page :: navbar"></div>

<div class="container">
    <div class="vertical-center">
        <form id="skill_form" class="well well-sm form-horizontal" method="post" th:object="${skillForm}"
              th:action="@{/skill/addskill}">
            <fieldset>

                <!-- Form Name -->
                <legend>Add Skill</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-heart-empty"></i></span>
                            <input name="name" placeholder="Name" class="form-control" type="text"
                                   th:field="*{name}"/>
                        </div>
                        <span><small>2-15 letters</small></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Tag</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                            <input name="tag" type="text" data-role="tagsinput"
                                   th:field="*{tags}"/>
                        </div>
                        <div>
                            <input type="hidden" th:field="*{skillId}"/>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <textarea th:field="*{description}"
                                      placeholder="Where did you learn it, how do you practice etc."
                                      class="form-control"
                                      rows="5" name="description"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-success" value="skill" name="action">Save Skill</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<div id="copy" th:include="page :: copy"></div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="/js/addSkill.js"></script>

</body>


</html>
