<!DOCTYPE html>
<html class="full" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Profile</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="/css/the-big-picture.css" rel="stylesheet"/>
    <link href="/css/editProfile.css" rel="stylesheet"/>

</head>

<body>
<div id="nav" th:include="page :: navbar"></div>

<!-- Page Content -->
<div class="container">

    <div class="top-of-form">
        <div class="row">

            <form id="edit_profile" class="well well-sm" th:object="${tutor}" th:action="@{/tutor/profile/edit}"
                  method="post">

                <div class="row">
                    <div class="col-sm-6 col-md-3">

                        <img id="profilepic" th:src="@{/picture/profilepic/(username=${tutor.username})}" height="500"
                             width="380"
                             class="img-rounded img-responsive"/>

                        <div sec:authorize="isAuthenticated()">
                            <div th:if="${tutor.username} == ${#authentication.name}">
                                <br/>
                                <a class="btn btn-primary btn-xs" name="upload"
                                   th:href="@{/picture/upload(id=${tutor.id})}">Upload
                                    picture</a>
                            </div>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6">
                        <input th:field="*{id}" type="hidden"/>
                        <input th:field="*{username}" type="hidden"/>

                        <h4>
                            <span th:text="${tutor.username}"></span></h4>

                        <fieldset>
                            <div class="form-group">
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{name}" type="text" placeholder="Name" class="form-control"
                                               name="name"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input th:field="*{lastName}" type="text" placeholder="Last name"
                                               class="form-control"
                                               name="lastName"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope"></i></span>
                                        <input th:field="*{email}" type="text" placeholder="Email" name="email"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="inputGroupContainer">

                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-earphone"></i></span>
                                        <input th:field="*{skype}" type="text" placeholder="Skype" name="skype"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="inputGroupContainer">
                                <div class="form-group">
                            <textarea th:field="*{story}" placeholder="Your story, skills and interests"
                                      class="form-control"
                                      rows="5" name="story"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-sm-4 col-md-3">
                        <div sec:authorize="isAuthenticated()">
                            <div th:if="${tutor.username} == ${#authentication.name}">
                                <input th:href="@{'/tutor/profile/'+${#authentication.name}}"
                                       class="btn btn-success pull-right" type="submit" value="Save"/></div>
                        </div>

                        <strong>Skills:</strong><br/>
                        <ul th:each="skill : ${tutor.skills}">
                            <li>
                                <span th:text="${skill.name}"></span>
                                <a sec:authorize="isAuthenticated()"
                                   th:href="@{/skill/editSkill(skillId=${skill.id},username=${tutor.username})}">
                                    <span class="glyphicon glyphicon-edit"></span></a>
                                <a sec:authorize="isAuthenticated()"
                                   th:href="@{/skill/deleteSkill(skillId=${skill.id},username=${tutor.username})}">
                                    <span class="glyphicon glyphicon-remove"></span></a>

                            </li>
                        </ul>
                        <br/>
                        <div sec:authorize="isAuthenticated()">
                            <a th:if="${tutor.username} == ${#authentication.name}"
                               th:href="@{/skill/addskill/} + ${tutor.username}"
                               class="btn btn-primary btn-xs">Add Skill</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="copy" th:include="page :: copy"></div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="/js/editProfile.js"></script>

</body>

</html>
