<!DOCTYPE html>
<html class="full" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Profile</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="/css/the-big-picture.css" rel="stylesheet"/>
    <link href="/css/profile.css" rel="stylesheet"/>

</head>

<body>
<div id="nav" th:include="page :: navbar"></div>

<!-- Page Content -->
<div class="container">

    <div class="top-of-form">
        <div class="row">

            <div class="well well-sm">

                <div class="row">
                    <div class="col-sm-8 col-md-3">

                        <img id="profilepic" th:src="@{/picture/profilepic/(username=${tutor.username})}" height="500"
                             width="380"
                             class="img-rounded img-responsive"/>

                    </div>

                    <div class="col-sm-4 col-md-5">
                        <h4>
                            <span th:text="${tutor.username}"></span></h4>
                        <small><span th:text="${tutor.name}"></span> <span th:text="${tutor.lastName}"></span>
                        </small>
                        <br/>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i><span th:text="${tutor.email}"></span>
                            <br/>
                            <i class="glyphicon glyphicon-earphone"></i><span th:text="${tutor.skype}"></span>
                            <br/></p>
                        <span th:text="${tutor.story}"></span>


                    </div>

                    <div class="col-sm-2 col-md-2">
                        <strong>Skills:</strong>
                        <br/>
                        <ul th:each="skill : ${tutor.skills}">
                            <li>
                                <a th:href="@{/skill/viewSkill(skillId=${skill.id},username=${tutor.username})}">
                                    <span th:text="${skill.name}"></span></a>
                            </li>

                        </ul>
                        <br/>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <a th:href="@{/relations/showTeachers(username=${tutor.username})}"
                           class="btn btn-primary pull-right">Show teachers</a>
                        <br/><br/>
                        <a th:href="@{/relations/showStudents(username=${tutor.username})}"
                           class="btn btn-primary pull-right">Show students</a>
                        <br/><br/>
                        <div sec:authorize="isAuthenticated()">
                            <div th:if="${tutor.username} == ${#authentication.name}">
                                <a th:href="@{'/tutor/profile/edit/'+${#authentication.name}}"
                                   class="btn btn-primary pull-right">Edit profile</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="copy" th:include="page :: copy"></div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>
